@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=DM+Sans:wght@500&display=swap');

body{
    background-color: #f2f2f2;
    font-family: 'DM Sans', sans-serif;
    background-image: url("../img/food.jpg");
    background-blend-mode: screen;
}

#Hem-Rubrik{
    color: black;
    font-family: 'Arbutus Slab', serif;
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}

a{
    color: black;
}

ul li:hover > ul,

li a:hover{
    color: black;
    background-color: darkseagreen;
}

div a:hover{
    background-color: darkseagreen;
}

.registrera-dig{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}
#registrering{
    width: 300px;
    padding: 10px;
    border: 3px solid black;
}

.home-page-image{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 50%;
    border: 5px solid black;
}
#veckans-tips{
    text-align: center;
    font-size: 25px;
    background-color: white;
}

.start_img{
    max-width: 50%;
    height: auto;
}

.carne-asada-pic{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
#carne-recipe{
    margin-left: 150px;
}

.lasagne-al-forno-pic{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#lasagne-recipe{
    margin-left: 160px;
}
.fish-curry-pic{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

#fish-curry-recipe{
    margin-left: 180px;
}
.japchae-pic{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
#japchae-recipe{
    margin-left: 180px;
}
.column{
    flex: 50%;
    padding: 5px;
    align-content: center;
    border: 8px solid black;
    background-color: mintcream;
}
.row{
    flex: 8px;
    align-content: center;
    border: 8px solid black;
}
.home-page-image{
    text-align: center;
}

.maintxt{
    background-color: beige;
    padding-top: 5px;
    border: solid bisque;
}

.main-grid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 50px;
    grid-gap: 20px;
}
.main-grid-pic{
    max-width: 100%;
    height: auto;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border: solid black;
}

.footer{
    margin-top: 0px;
}
.insta-pic{
    max-width: 20px;
    height: auto;
}


/*tablet*/
@media screen and (min-width: 786px) and (max-width: 1024px){

    body{
        background-color: antiquewhite;
    }

    #Hem-Rubrik{
        text-align: center;
        margin-top: 80px;
    }
    .home-page-image{
        width: 80%;
    }


    nav.menu-bar{
        text-align: center;
        position: fixed;
        top: 0px;
        width: 100%;
        background-color: white;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    nav.menu-bar ul li{
        display: inline;
    }
    ul.menu-bar-list{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li a{
        padding: 14px 16px;
    }
    li a:hover{
        background-color: darkseagreen;
    }
    .start_img{
        max-width: 80%;
        height: auto;
    }
    #carne-recipe{
        margin-left: 20px;
        margin-right: auto;
        width: auto;
    }
    #lasagne-recipe{
        margin-left: 40px;
        margin-right: auto;
        width: auto;
    }
    #fish-curry-recipe{
        margin-left: 60px;
        margin-right: auto;
        width: auto;
    }
    #japchae-recipe{
        margin-left: 70px;
        margin-right: auto;
        width: auto;
    }

    .row{
        display: flex;
    }
    .column{
        flex: 33.33%;
        padding: 5px;
    }

    .main-grid{
        grid-template-columns: 1fr 1fr;
    }
    .main-grid-pic{
        max-width: 100%;
        height: 200px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 10px;
        overflow: hidden;
        border: solid black;
    }
}

/*desktop*/
@media screen and (min-width: 1025px){
    body{
        background-color: beige;
    }

    .grid-container{
        width: 100%;
        margin: 10px auto;
    }

    #Hem-Rubrik{
        text-align: center;
        margin-top: 80px;
    }
    .home-page-image{
        width: 80%;
    }
    nav.menu-bar{
        text-align: center;
        position: fixed;
        top: 0px;
        width: 100%;
        background-color: white;
        padding-top: 10px;
        padding-bottom: 15px;
    }
    nav.menu-bar ul li{
        display: inline;
    }
    ul#menu-bar-list{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li a{
        padding: 14px 16px;
    }
    li a:hover{
        background-color: darkseagreen;
    }

    .main{
        margin-top: 60px;
    }
    .start_img{
        max-width: 80%;
        height: auto;
    }


    .carne-asada-pic img{
        max-width: 100%;
        max-height: 100%;
    }
    #carne-recipe{
        margin-left: 90px;
        margin-right: auto;
        width: auto;
    }


    .lasagne-al-forno-pic img{
        max-width: 100%;
        max-height: 100%;
    }
    #lasagne-recipe{
        margin-left: 90px;
        margin-right: auto;
        width: auto;
    }

    .fish-curry-pic img{
        max-width: 100%;
        max-height: 100%;
    }
    #fish-curry-recipe{
        margin-left: 110px;
        margin-right: auto;
        width: auto;
    }

    .japchae-pic img{
        max-width: 100%;
        max-height: 100%;
    }
    #japchae-recipe{
        margin-left: 140px;
        margin-right: auto;
        width: auto;
    }
    .row{
        display: flex;
    }
    .column{
        flex: 33.33%;
        padding: 5px;
    }
    .main-grid{
        grid-template-columns: 1fr 1fr;
    }
    .main-grid-pic{
        max-width: 100%;
        height: 200px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        overflow: hidden;
        border: solid black;
    }
}
