@import url('https://fonts.googleapis.com/css2?family=Arbutus+Slab&family=DM+Sans:wght@500&display=swap');

body{
    background-color: #f2f2f2;
    font-family: 'DM Sans', sans-serif;
}

#Hem-Rubrik{
    color: black;
    font-family: 'Arbutus Slab', serif;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
}

/*section{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto auto 200px;
    grid-template-areas:
    "header"
    "navigation"
    "main-content"
    "footer";
    grid-gap: 1px;
}*/
a{
    color: black;
}

ul li:hover > ul,

li a:hover{
    color: black;
    background-color: darkseagreen;
}

div a:hover{
    background-color: darkseagreen;
}

.registrera-dig{
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;
}
#registrering{
    width: 300px;
    padding: 10px;
    border: 3px solid black;
}

/*#home-picture{
    height: auto;
    width: auto;
    display: grid;
    border: 5px solid black; !*lägger ej på border-?*!
}*/

.home-page-image{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height: 50%;
    border: 5px solid black;
}
#veckans-tips{
    text-align: center;
}

.start_img{
    max-width: 100%;
    height: auto;
}

.carne-asada-pic{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
/*.carne-asada-pic{
    height: 150px;
    width: 150px;
    overflow: hidden;
    margin: 20px;
}*/
.carne-asada-pic img{
    max-width: 100%;
    max-height: 100%;
}
#carne-recipe{
    margin-left: 150px;
}
/*.carne-asada-recipe{
    text-align: center;
    padding-right: 140px;
    padding-bottom: 30px;
    padding-top: 1px;
}*/
.lasagne-al-forno-pic{
    display: flex;
    margin-left: auto;
    margin-right: auto;
   /* height: 150px;
    width: 150px;*/
    overflow: hidden;
}
.lasagne-al-forno-pic img{
    max-width: 100%;
    max-height: 100%;
}
#lasagne-recipe{
    margin-left: 160px;
}
.fish-curry-pic{
    display: flex;
    margin-left: auto;
    margin-right: auto;
   /* height: 150px;
    width: 150px;*/
    overflow: hidden;
}

.fish-curry-pic img{
    max-width: 100%;
    max-height: 100%;
}
#fish-curry-recipe{
    margin-left: 180px;
}
.japchae-pic{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    /*height: 150px;
    width: 150px;*/
    overflow: hidden;
}
.japchae-pic img{
    max-width: 100%;
    max-height: 100%;
}
#japchae-recipe{
    margin-left: 180px;
}
.column{
    flex: 50%;
    padding: 5px;
    align-content: center;
    border: 8px solid black;
}
.row{
    flex: 8px;
    align-content: center;
}
.home-page-image{
    text-align: center;
}


/*tablet*/
@media screen and (min-width: 786px) and (max-width: 1024px){

    body{
        background-color: antiquewhite;
    }

    #Hem-Rubrik{
        text-align: center;
    }

   /* .center-text{
        display: flex;
        margin-right: auto;
        margin-left: auto;
        width: auto;
    }*/
    nav.menu-bar {
        text-align: center;
    }
    nav.menu-bar ul li{
        display: inline;
    }
    ul.menu-bar-list{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li a{
        padding: 14px 16px;
    }
    li a:hover{
        background-color: darkseagreen;
    }
    #carne-recipe{
        margin-left: 20px;
        margin-right: auto;
        width: auto;
    }
    #lasagne-recipe{
        margin-left: 40px;
        margin-right: auto;
        width: auto;
    }
    #fish-curry-recipe{
        margin-left: 60px;
        margin-right: auto;
        width: auto;
    }
    #japchae-recipe{
        margin-left: 70px;
        margin-right: auto;
        width: auto;
    }

    .row{
        display: flex;
    }
    .column{
        flex: 33.33%;
        padding: 5px;
    }
}

/*desktop*/
@media screen and (min-width: 1025px){
    body{
        background-color: beige;
    }

    .grid-container{
        width: 1000px;
        margin: 10px auto;
    }

    #Hem-Rubrik{
        text-align: center;
        margin-top: 80px;
    }
    .home-page-image{
        width: 50%;
    }
    /*.center-text{
        display: flex;
        margin-right: auto;
        margin-left: auto;
        width: 80%;
        height: 90%;
    }*/
    nav.menu-bar{
        text-align: center;
        position: fixed;
        top: 0px;
        width: 100%;
        background-color: white;
        padding-top: 10px;
        padding-bottom: 15px;
    }
    nav.menu-bar ul li{
        display: inline;
    }
    ul#menu-bar-list{
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    li a{
        padding: 14px 16px;
    }
    li a:hover{
        background-color: darkseagreen;
    }

    .main{
        margin-top: 60px;
    }

    .carne-asada-pic{
        height: 200px;
        width: 200px;
        overflow: hidden;
        margin: 20px;
    }
    .carne-asada-pic img{
        max-width: 100%;
        max-height: 100%;
    }
    #carne-recipe{
        margin-left: 40px;
        margin-right: auto;
        width: auto;
    }

    .lasagne-al-forno-pic{
        height: 200px;
        width: 200px;
        overflow: hidden;
        margin: 20px;
    }
    .lasagne-al-forno-pic img{
        max-width: 100%;
        max-height: 100%;
    }
    #lasagne-recipe{
        margin-left: 50px;
        margin-right: auto;
        width: auto;
    }
    .fish-curry-pic{
        height: 200px;
        width: 200px;
        overflow: hidden;
        margin: 20px;
    }
    .fish-curry-pic img{
        max-width: 100%;
        max-height: 100%;
    }
    #fish-curry-recipe{
        margin-left: 80px;
        margin-right: auto;
        width: auto;
    }
    .japchae-pic{
        height: 200px;
        width: 200px;
        overflow: hidden;
        margin: 20px;
    }
    .japchae-pic img{
        max-width: 100%;
        max-height: 100%;
    }
    #japchae-recipe{
        margin-left: 80px;
        margin-right: auto;
        width: auto;
    }
    .row{
        display: flex;
    }
    .column{
        flex: 33.33%;
        padding: 5px;
    }
}
